<h1>New Membership</h1>
<%= form_for @membership do |s|%>
  <%=s.label :Player%>
  <%=s.collection_select :user_id, @users, :id, :email%>
  <%=s.label :Select_Team %>
  <%=s.collection_select :team_id, @teams, :id, :name%>
  <%=s.submit "Create membership" %>
<% end %>



f.label :prospect %>
f.collection_select :prospect_id, @myprospects, :id, :name, :prompt => "Select a prospect"
