<%= form_for [@team, @show,@beat,@note] do |b|%>
<div class = "inputForm"
  <div class = "inputLabel"><%=b.label :Body%></div>

  <div><%=b.text_field :body, :class => "inputBox"%></div>

  <div class = "inputField"><%=b.label :Private? %>
  <%=b.check_box(:private)%></div>

<div class = "submit">  <%=b.submit "Submit" %> </div>

</div>
<% end %>
