<h1>Edit note for<%= @beat.title %></h1>

<%= render "form" %>


<%= form_for [@team, @show, @beat, @note], method: :delete, data: {confirm: "Are you sure?"} do |n|%>
  <%= n.submit "Delete note" %>
<% end %>

<div class = "bottomNav">

  <div><%= link_to "Back to Show", team_show_beat_path(@team, @show, @beat) %></div>

  <div><%= form_for [@team, @show, @beat, @note], method: :delete, data: {confirm: "Are you sure?"} do |n|%>
    <%= n.submit "Delete note" %>
  <% end %></div>

</div>
