<h1>Edit note for<%= @beat.title %></h1>

<%= render "form" %>


<%= form_for [@show, @beat, @note], method: :delete, data: {confirm: "Are you sure?"} do |n|%>
  <%= n.submit "Delete note" %>
<% end %>

<div class = "navLink"><%= link_to "Back to Show", show_beat_path(@show, @beat) %></div>
