<h1><%=@beat.title %></h1>
<p><%=@beat.body %></p>

<div class = "longList">

<%@beat.notes.each do |note| %>
<%  if note.private = true %>

  <% if current_user.id == note.user.id%>
  <div class = "noteBody"><%= note.body %>
  <li>
  <div id = "noteID">Posted by:<%=note.user.email%> on <%=note.created_at%>
  <%= link_to "Edit this Note", edit_team_show_beat_note_path(@team, @show, @beat, note) %>
  </div>
  </li>
  </div>
    <% else%>
  <% end%>
  <%else%>
  <div class = "noteBody"><%= note.body %>
  <li>
  <div id = "noteID">Posted by:<%=note.user.email%> on <%=note.created_at%>
  <%= link_to "Edit this Note", edit_team_show_beat_note_path(@team, @show, @beat, note) %>
  </div>
  </li>
  </div>

<%end%>
<%end%>

</div>


<div class="bottomNav">
<div><%= link_to "Add note", new_team_show_beat_note_path(@team, @show,@beat,@path) %></div>

<div><%= link_to "Edit this Beat", edit_team_show_beat_path(@team, @show , @beat) %></div>

<div class = "navLink"><%= link_to "Back to Show", team_show_path(@team, @show) %></div>
</div>
