<h1><%= @show.title %></h1>
<p><%=@show.body%></p>

<div class = "longList">
<%@beat.each do |beat| %>

<div>
  <p class = "listTitle"><%=link_to "#{beat.title}", team_show_beat_path(@team, @show,beat)%></p>

  <p class = "listBody"><%=beat.body%></p>

</div>

<%end%>
</div>

<div class="bottomNav">
  <div><%= link_to "Add Beat", new_team_show_beat_path(@team, @show) %></div>

  <div><%= link_to "Edit show", edit_team_show_path(@team, @show) %></div>

  <div class = "navLink"><%= link_to "Back to A ll Shows", team_shows_path %></div>
</div>
