<!DOCTYPE html>
<html>
  <head>
    <title>Harold</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!-- <img id ="background-img" src="http://www.clipartkid.com/images/513/index-of-blog-wp-content-uploads-2008-04-8UnebP-clipart.jpg" /> -->

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <header>

      <h1 id = "headline">My Harold Team</h1>
      <div id = "header2">
    <% if !current_user %>
      <%= link_to "Sign up |", new_user_registration_path  %>
      <%= link_to "| Sign in", new_user_session_path %>
    <%else%>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <%current_user.email%>
    <%end%>
  </div>
  </header>

    <%= yield %>

  </body>
</html>
